.App{
  background-color: black;
  height: 100ch;
}

.App-2{
  background-color: white;

}

.App-3{
  background-color: black;
  height: 130ch;
}

.App-4{
  background-color: white;
  height: 150ch;
}

.footer{
  background-color: black;
}